:root {
    --color-bg: rgb(24, 10, 38);
    --color-text: rgb(233, 239, 246);
    --color-bg-cart: rgb(55, 36, 71);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: italic;
    padding-top: 60px;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    background: none;
    border: none;
}

h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 28px;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    border-bottom: 2px solid rgb(114, 98, 165);
    margin: 0 4px;
    z-index: 100;
}

.navigator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navigator a {
    font-size: 12px;
    position: relative;
    margin-left: 8px;
}

.right-side {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.switchers {
    height: 60px;
    display: flex;
    justify-content: center;
}

#theme-switch {
    background-color: transparent;
    border: none;
    color: var(--color-text);
    margin: 4px;
    font-size: 24px
}

#leng-switch {
    background-color: transparent;
    border: none;
    color: var(--color-text);
    margin: 4px;
    font-size: 24px
}

.nav-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: rgb(34, 4, 54);
    opacity: .8;
    width: 140px;
    padding: 10px 0;
    text-align: left;
    box-shadow: -2px 2px 8px var(--color-text);
}

.nav-menu.show {
    display: block;
}

.nav-menu li {
    list-style: none;
    padding: 16px 10px;
    transition: background 0.3s;
}

.nav-menu li a {
    text-decoration: none;
    color: var(--color-text);
    display: block;
    font-size: 14px;
    
}

.nav-menu li a:hover {
    color: rgb(138, 53, 180);
}

#nav-btn {
    background: transparent;
    color: var(--color-text);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 28px;
}

#nav-btn:hover {
    background: darkgray;
}

/* Home page */

.home-page-section {
    width: 100%;
    height: 100vh;
    padding: 28px 0;
}

.home-page-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100vh;
    justify-content: start;
}

.home-page-content img {
    background: transparent;
    background-color: transparent;
    height: 240px;
    width: 240px;
}

.home-page-text {
    padding-top: 16vh;
    justify-content: center;
}

.home-page-text h1 {
    font-size: 40px;
    margin: 0;
}

.home-page-text h3 {
    font-size: 20px ;
    margin: 0;
}

/* Projects */

#works {
    min-height: 100vh;
    padding-top: 24px;
}

.cart-container {
    display: grid;
    columns: 1;
    gap: 24px;
    margin: 0 32px;
    grid-template-columns: repeat(auto-fit, minmax(340px, 460px));
    justify-content: space-around;
}

.project-cart {
    background: var(--color-bg-cart);
    padding: 8px 16px;
    border-width: 2px 2px 4px 4px;
    border-style: solid;
    border-color: black;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
    opacity: .6;
    height: auto;
    aspect-ratio: 21 / 9 ;
}

.project-cart h3 {
    margin: 8px 0;
    font-size: 20px;
}

.project-cart p {
    font-size: 10px;
}

.project-cart img {
    max-width: 100%; 
    height: auto;
    object-fit: contain;
    object-fit: cover;
    clip-path: polygon(3% 0%, 100% 0%, 97% 100%, 0% 100%);
    margin: 8px 0;
}

/* info */

#info {
    min-height: 100vh;
    padding-top: 32px;
}

.info-container img {
    margin-bottom: 70px;
    min-width: 180px;
    min-height: 180px;
    max-width: 360px;
    max-height: 360px;
    object-fit: contain;
}

.info-container {
    display: flex;
    margin: 24px;
    min-height: 40vh;
    justify-content: space-between;
}

.info-container h4 {
    font-size: 20px;
    text-align: center;
    padding: 8px;
}

.info-container p {
    font-size: 12px;
}

.info-content {
    max-width: 50%;
    padding: 20px;
}

.info-container button {
    display: block;
    padding: 4px 12px;
    margin: 12px auto;
    background: var(--color-text);
    color: var(--color-bg);
    border-radius: 5px;
}

/* Skills */

.skills-container {
    padding: 18px;
}

.skills-container h3 {
    font-size: 16px;
    margin-bottom: 12px;
}

.skills-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 50px));
    justify-content: space-around;
    gap: 14px;
}

.skill-icon {
    justify-content: center;
    text-align: center;
    font-size: 12px;
    height: auto;
    aspect-ratio: 1 / 1;
}

.skill-icon img:hover {
    margin-bottom: 4px;
    filter: drop-shadow(0 4px 10px  var(--color-text));
    transform: scale(1.2);
}

.skill-icon img {
    max-width: 100%; 
    height: auto;
    object-fit: contain;
}


/* form */

#form-section {
    display: flex;
    flex-direction: column;
    height: 86vh;
    padding-top: 32px;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 70%;
    align-items: center;
    justify-content: space-around;
    background: var(--color-bg-cart);
    border-radius: 20px;
    opacity: .6;
    border-width: 1px 1px 4px 4px;
    border-style: solid;
    border-color: black;
}

.input-container {
    display: flex;
    flex-direction: column;
    height: 30%;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 12px;
    gap: 12px;
}

.form-input {
    width: 100%;
    min-height: 24px;
    height: 30%;
    border-radius: 8px;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-size: 16px;
    border-width: 4px 4px 1px 1px;
    border-style: solid;
    border-color: black;
    padding: 4px 8px;
}

.form textarea {
    height: 40%;
    width: 80%;
    border-radius: 8px;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-size: 12px;
    border-width: 4px 4px 1px 1px;
    border-style: solid;
    border-color: black;
    padding: 8px;
}

input::placeholder, 
textarea::placeholder {
    color: gray;
    font-style: italic;
    font-size: 12px;
    opacity: 0.8;
}

input:focus, 
textarea:focus {
    outline: none;
    border: 1px solid rgb(114, 98, 165);
}

.form-btn {
    margin-bottom: 20px;
    margin-top: 12px;
    padding: 8px 12px;
    border-radius: 12px;
    background-color: var(--color-bg);
    color: var(--color-text);
    border: 1px solid, rgb(114, 98, 165);
}


/* footer */

.footer {
    background: var(--color-bg-cart);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 12px;
    border-top: 2px solid rgb(114, 98, 165);
}

.footer p {
    font-size: 8px;
}

.contacts {
    width: 30%;
    max-width: 140px;
    margin: 0 12px;
    display: flex;
    justify-content: space-around;
}

.contacts img {
    height: 18px;
    width: 18px;
}