:root {
    --color-bg: rgb(24, 10, 38);
    --color-text: rgb(255, 225, 244);
    --color-bg-cart: rgb(40, 13, 62);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: italic;
    padding-top: 60px;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    background: none;
    border: none;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    border-bottom: 2px solid rgb(67, 56, 75);
    margin: 0 4px;
}

.navigator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navigator a {
    font-size: 14px;
    position: relative;
    bottom: 18px;
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.switchers {
    height: 60px;
    display: flex;
    justify-content: center;
}

#theme-switch {
    background-color: transparent;
    border: none;
    color: var(--color-text);
    margin: 4px;
    font-size: 24px
}

#leng-switch {
    background-color: transparent;
    border: none;
    color: var(--color-text);
    margin: 4px;
    font-size: 24px
}

.nav-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: rgb(48, 11, 73);
    opacity: .8;
    width: 140px;
    padding: 10px 0;
    text-align: left;
}

.nav-menu.show {
    display: block;
}

.nav-menu li {
    list-style: none;
    padding: 16px 10px;
    transition: background 0.3s;
}

.nav-menu li a {
    text-decoration: none;
    color: var(--color-text);
    display: block;
    font-size: 14px;
}

.nav-menu li a:hover {
    color: rgb(138, 53, 180);
}

#nav-btn {
    background: transparent;
    color: var(--color-text);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 28px;
}

#nav-btn:hover {
    background: darkgray;
}

/* Home page */

.home-page-section {
    width: 100%;
    height: 100vh;
    padding: 28px 0;
}

.home-page-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100vh;
    justify-content: start;
}

.avatar {
    background: transparent;
    background-color: transparent;
}

.home-page-text {
    padding-top: 16vh;
    justify-content: center;
}

.home-page-text h1 {
    font-size: 40px;
    margin: 0;
}

.home-page-text h3 {
    font-size: 20px ;
    margin: 0;
}

/* Projects */

#works {
    min-height: 100vh;
    padding-top: 24px;
}

#works h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 28px;
}

.cart-container {
    display: grid;
    columns: 1;
    gap: 30px;
    margin: 0 32px;
}

.project-cart {
    background: var(--color-bg-cart);
    padding: 12px 20px;
    border: 1px solid black;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
}

.project-cart h3 {
    margin: 8px 0;
    font-size: 28px;
}

.project-cart p {
    font-size: 14px;
}

.project-cart img {
    width: 240px;
    height: 180px;
    margin: 12px 18px;
}