:root {
    --color-bg: rgb(24, 10, 38);
    --color-text: rgb(228, 230, 232);
    --color-bg-cart: rgb(55, 36, 71);
    --color-menu-text: rgb(208, 224, 240);
    --color-menu-text-hover: rgb(175, 140, 239);
}

.light-mode {
    --color-text: rgb(15, 28, 50);
    --color-bg: rgb(179, 242, 246);
    --color-bg-cart: rgb(102, 185, 183);
    --color-menu-text: rgb(208, 224, 240);
    --color-menu-text-hover: rgb(168, 226, 241);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: italic;
    padding-top: 60px;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    transition: background-color 0.3s, color 0.3s;

}

a {
    text-decoration: none;
    color: inherit;
    font-weight: normal;
    background: none;
    border: none;
}

h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 28px;
}

/* Header */

.header {
    background: rgba(15, 10, 38, 0.7);
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    border-bottom: 2px solid rgb(174, 122, 192);
    z-index: 100;
}

.navigator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navigator a {
    font-size: 12px;
    position: relative;
    margin-left: 8px;
    color: var(--color-menu-text);
}

.right-side {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.switchers {
    height: 60px;
    display: flex;
    justify-content: center;
}

.switcher {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--color-menu-text);
    margin: 4px;
    font-size:20px;
    transition: transform 0.3s ease;
}

.switcher:hover {
    transform: scale(1.3);
    color: var(--color-menu-text-hover);
}

.nav-menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: var(--color-bg-cart);
    opacity: .9;
    width: 18vh;
    min-width: 140px;
    height: 40vh;
    min-height: 240px;
    padding: 10px 0;
    text-align: left;
    box-shadow: -2px 2px 8px var(--color-text);
    padding-left: 8px;
}

.nav-menu.show {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-menu li {
    list-style: none;
    padding: auto;
}

.nav-menu li a {
    text-decoration: none;
    color: var(--color-menu-text);
    display: block;
    font-size: 18px;
    font-weight: 700;
    transition: transform 0.3s ease;
}

.nav-menu li a:hover {
    color: var(--color-menu-text-hover);
}

#nav-btn {
    background: transparent;
    color: var(--color-text);
    border: none;
    margin: 4px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 28px;
    transition: transform 0.3s ease;
}

#nav-btn:hover {
    transform: scale(1.2);
}

/* Home page */

.home-page-section {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 28px;
    justify-content: center;
}

.home-page-content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: start;
    margin-top: 10vh;
}

.home-page-content img {
    background: transparent;
    background-color: transparent;
    width: 280px;
}

.home-page-text {
    border-radius: 20px;
    border-width: 1px 1px 4px 4px;
    border-style: solid;
    border-color: black;
    background-color: var(--color-bg-cart);
    padding: 16px 30px;
}

.home-page-text h1 {
    font-size: 40px;
    margin-bottom: 8px;
}

.home-page-text h3 {
    font-size: 20px ;
}

/* Projects */

#works {
    min-height: 100vh;
    padding-top: 24px;
}

.cart-container {
    display: grid;
    columns: 1;
    gap: 24px;
    margin: 0 14px;
    grid-template-columns: repeat(auto-fit, minmax(340px, 460px));
    justify-content: space-around;
}

.project-cart {
    background: var(--color-bg-cart);
    padding: 8px 16px;
    opacity: .8;
    height: auto;
    aspect-ratio: 20 / 12 ;
    will-change: transform, opacity;
    transition: all 0.3s ease;
    overflow: hidden;
    border-radius: 20px;
    border-width: 1px 1px 4px 4px;
    border-style: solid;
    border-color: black;
}

.project-cart:hover {
    opacity: 1;
    box-shadow: -2px 2px 15px rgba(114, 98, 165, 0.3);
}

.project-cart h3 {
    margin: 8px 0;
    font-size: 20px;
}

.project-cart p {
    font-size: 10px;
}

.project-cart img {
    position: absolute;
    bottom: 6px;
    max-width: 82%; 
    height: auto;
    object-fit: cover;
    margin: 8px;
    border: 1px solid var(--color-text);
    border-radius: 5px;
    transition: all 0.6s ease;
}

/* info */

#info {
    min-height: 100vh;
    padding-top: 32px;
}

.info-container img {
    margin-bottom: 70px;
    min-width: 180px;
    min-height: 180px;
    max-width: 360px;
    max-height: 360px;
    object-fit: contain;
}

.info-container {
    display: flex;
    margin: 24px;
    min-height: 40vh;
    justify-content: space-between;
}

.info-container h4 {
    font-size: 20px;
    text-align: center;
    padding: 8px;
}

.info-container p {
    font-size: 12px;
}

.info-content {
    max-width: 50%;
    padding: 20px;
}

.info-container button {
    display: block;
    padding: 4px 12px;
    margin: 12px auto;
    background: var(--color-text);
    color: var(--color-bg);
    border-radius: 5px;
    cursor: pointer;
}

/* Skills */

.skills-container {
    padding: 18px;
}

.skills-container h3 {
    font-size: 20px;
    margin-bottom: 18px;
    text-align: center;
}

.skills-list {
    min-height: 80px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 50px));
    justify-content: space-around;
    gap: 18px;
    margin-bottom: 18px;
}

.skill-icon {
    justify-content: center;
    text-align: center;
    font-size: 12px;
    height: auto;
    aspect-ratio: 1 / 1;
}

.skill-icon img {
    max-width: 100%; 
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.skill-icon img:hover {
    filter: drop-shadow(0 4px 10px  var(--color-text));
}



/* form */

#form-section {
    display: flex;
    flex-direction: column;
    height: 86vh;
    padding-top: 32px;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 70%;
    align-items: center;
    justify-content: space-around;
    background: var(--color-bg-cart);
    border-radius: 20px;
    opacity: .6;
    border-width: 1px 1px 4px 4px;
    border-style: solid;
    border-color: black;
}

.input-container {
    display: flex;
    flex-direction: column;
    height: 30%;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 12px;
    gap: 12px;
}

.form-input {
    width: 100%;
    min-height: 24px;
    height: 30%;
    border-radius: 8px;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-size: 16px;
    border-width: 4px 4px 1px 1px;
    border-style: solid;
    border-color: black;
    padding: 4px 8px;
}

.form textarea {
    height: 40%;
    width: 80%;
    border-radius: 8px;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-size: 12px;
    border-width: 4px 4px 1px 1px;
    border-style: solid;
    border-color: black;
    padding: 8px;
    resize: none;
}

input::placeholder, 
textarea::placeholder {
    color: gray;
    font-style: italic;
    font-size: 12px;
    opacity: 0.8;
}

input:focus, 
textarea:focus {
    outline: none;
    border: 1px solid rgb(114, 98, 165);
}

input:-internal-autofill {
    background-image: none !important;
    background-color: transparent !important;
    color: var(--color-text) !important;
}

.form-btn {
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 12px;
    padding: 8px 12px;
    border-radius: 12px;
    background-color: var(--color-bg);
    color: var(--color-text);
    border: 2px solid, var(--color-text);
    cursor: pointer;
}

.form-btn:hover {
    transform: scale(1.05);
    border: 2px solid, var(--color-menu-text-hover)
}


/* footer */

.footer {
    background: var(--color-bg-cart);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 12px;
    border-top: 2px solid rgb(114, 98, 165);
}

.footer p {
    font-size: 8px;
}

.contacts {
    width: 30%;
    max-width: 140px;
    margin: 0 12px;
    display: flex;
    justify-content: space-around;
}

.contacts img {
    height: 18px;
    width: 18px;
    transition: transform 0.3s ease;
}

.contacts img:hover {
    transform: scale(1.3);
}



@media (max-height: 420px){
    .home-page-content img {
        height: 200px;
        width: 200px;
    }
    .info-container img {
        height: 240px;
        width: 240px
    }

}

@media (min-width: 768px){
    .right-side {
        width: 60%;
        display: flex;
        flex-direction: row-reverse;
        padding-right: 14px;
    }

    #nav-btn {
        display: none;
    }

    .switchers {
        width: 16%;
        justify-content: space-evenly;
    }

    .nav-menu {
        position: relative;
        display: flex;
        box-shadow: none;
        background: transparent;
        min-height: 70px;
        max-height: 70px;
        width: 80%;
        top:0;
        justify-content: space-around;
        align-items: center;
    }

    .nav-menu li a {
        text-decoration: none;
        color: var(--color-text);
        display: block;
        font-size: 18px;
        font-weight: 500;
    }

    .nav-menu li a:hover {
        transform: scale(1.2);
    }

    .home-page-section {
        align-items: center;
    }

    .home-page-content {
        margin-top: 20vh;
        position: relative;
        justify-content: end;
    }

    .home-page-text {
    padding-left: 260px;
    width: 100%;
    }

    .home-page-content img {
        position: absolute;
        left: -20px;
        width: 300px;
        bottom: 4px;
    }

    .cart-container {
        padding-top: 24px;
        gap: 14px;
    }

    .project-cart:hover {
        transform: scale(1.02) translate(10px, -10px);
    }
    
    .project-cart:hover img {
        transform: scale(1.05) translate(16px, 4px);
    }
}

@media (min-width: 1025px) {

    h2 {
        font-size: 36px;
        margin-bottom: 40px;
    }

    .project-cart {
        padding: 12px 18px;
    }

    .project-cart h3 {
        margin: 8px 0;
        font-size: 26px;
    }
    
    .project-cart p {
        font-size: 12px;
    }
    
    .project-cart img {
        width: 90%;
    }
    .cart-container {
        padding-top: 40px;
        gap: 16px;
        grid-template-columns: repeat(auto-fit, minmax(380px, 500px));
    }

    #info {
        padding-bottom: 40px;
    }

    .info-container h4 {
        padding: 12px;
        font-size: 26px;
    }
    
    .info-container p {
        padding: 12px 0;
        font-size: 16px;
    }

    .skills-container h3 {
        font-size: 26px;
        margin-bottom: 40px;
    }

    .skill-icon img:hover {
        margin-bottom: 4px;
        transform: scale(1.2);
    }

    .input-container {
        flex-direction: row;
        height: 25%;
        align-items: center;
        justify-content: space-around;
        width: 80%;
        margin: 20px;
        gap: 16px;
    }

    .form-input {
        margin: 24px 0;
        min-height: 48px;
        font-size: 20px;
        padding-left: 12px;
    }

    .form textarea {
        height: 55%;
        font-size: 20px;
        padding-left: 12px;
    }

    input::placeholder, 
    textarea::placeholder {
        font-size: 20px;
    }

    input:focus, 
    textarea:focus {
        border: 2px solid rgb(114, 98, 165);
    }
}